html,
body {
  margin: 0;
  padding: 0;
  font-family: AvenirNext-Medium;
}

body {
  --first-color: #488cff;
  background: #ffba00;
  color: #333333;
  font-weight: 300;
  box-sizing: border-box;
}

section.container {
  margin: 20px;
}